In [7]:
# string concatenation
str1 ="nis"
str2 = " rai"
sumstr= str1+str2
print(sumstr)

nis rai

In [23]:
# solution task 1 variable assignment
# what data type is following given value.
num1 =50 
num2 =30.5
print(num1,num2)
print("type of num1:",type(num1))
print("type of num2:",type(num2))

50 30.5
type of num1: <class 'int'>
type of num2: <class 'float'>

In [25]:
#task 2  operators
num1 =50
num2 =30.5
print("addition:",num1 + num2)
print("subtraction:",num1 - num2)
print("Multiplication:",num1 - num2)
print("floor division:",num1 // num2)

addition: 80.5
subtraction: 19.5
Multiplication: 19.5
floor division: 1.0

In [31]:
#task 3 compare two variables to check 
print("Is a is greater than b:", num1>num2)

Is a is greater than b: True

In [32]:
#task 4 =value swapping
num1,num2 = num2 ,num1
print("value of num1 after swapping:", num1)
print("value of num2 after swapping:", num2)

value of num1 after swapping: 30.5
value of num2 after swapping: 50

In [34]:
number = 10
if number < 0:
    print("The number is positive")

In [35]:
number = -5
if number > 0:
    print("The number is positive")
else:
    print("The number is not positive")

The number is not positive

In [36]:
num1 = 20
if num1 > 20:
    print(num1) 
else:
    print("wrong condition")

wrong condition

In [42]:
num =5
if num > 0:
    print("The number is postive")
else:
    print("The number is not postive")

The number is postive

In [45]:
numbers =       [1,2,3,4,5]
# index position starts with 0 : [0,1,2,3,4] 
# using a for loop to iterate through the list

for a in numbers:
    print(a)

1
2
3
4
5

In [47]:
#Index 
Names = ["TG" , "SS" , "JS" , "NG" , "RG"]
Names[4] #

'RG'

In [48]:
#range (start, stop, step)
x = range (1, 20, 5)
for i in x:
    print(i)

1
6
11
16